/* HeroSection.css */
.hero {
    background: url("background.jpg") no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .hero-content {
    max-width: 800px;
  }
  
  .buy-tickets {
    background-color: yellow;
    padding: 30px 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  