.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Schimbă alpha pentru mai multă/mai puțină transparență */
  color: white;
  position: fixed; /* Opțional: fixează navbar-ul în partea de sus */
  width: 100%; /* Asigură că navbar-ul ocupă întreaga lățime */
  top: 0; /* Aliniază navbar-ul în partea de sus */
  z-index: 1000; /* Asigură că navbar-ul este deasupra altor elemente */
  backdrop-filter: blur(8px); /* Adaugă efect de blur */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 1.2em;
}

.navbar-logo .countries {
  font-size: 0.9em;
  color: white;
  margin-left: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.user-icon {
  font-size: 50px;
}